.editor-screen {
    height: 100vh;
    text-align: center;
    background-image: url('../HomePage/v2.svg');
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  
}

.editorContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px; 
    min-height: 50vh;
    max-height: 60vh;
    height: 100%;
}

.typingArea {
    /* Other styles for the typing area */
  }
  
  .infoArea {
    display: grid;
    grid-template-rows: 1fr 5fr;
  }
  
  .photoArea {
    /* Other styles for the photo area */

  }
  
  .buttonsContainer {
    /* Other styles for the buttons container */
    margin-top: 20%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    
  }

  .questionArea {
    
    overflow: auto; /* Enable vertical scrolling when text overflows */
    overflow-wrap: break-word;
    font-family: 'DM Sans';
    font-size: 26px;
    margin: 18px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    background-color: #c3ced7;
    padding: 10px;
    text-align: center;
    max-height: 15vh;
  }

.editoruser {
    background-color: antiquewhite;
}

.PuzzlePhoto {
    width: 80%; /* Ensure the image fills the parent's width */
    height: 10%;
}

.editorActionButton {
  width: 70%;
  height:70%;
  margin-top: 16px;

}

.buttonFakeContaainer {
  text-align: right;
}
  

@media (max-width: 768px) {
  .editorContainer {
    grid-template-columns: 1fr;
  }

  .PuzzlePhoto {
    width: 100%;
    height: auto;
    max-height: 200px;
  }

  .editorActionButton {
    width: 100%;
  }

  .buttonFakeContaainer {
    text-align: right;
  }
}

.announce {
  font-size: 10px;
}
.grayedOut {
  opacity: 0.5;
  pointer-events: none; /* Disable pointer events to prevent clicks */
  cursor: not-allowed; /* Change the cursor to indicate the button is disabled */
  /* Add any other styles to visually indicate the button is disabled */
}

.accommodate {
  display: flex;
  align-items: center;
}

.accommodate .progress-bar {
  flex: 1;
  margin-right: 10px; /* Adjust the spacing between the progress bar and button */
} 
.typingDraft {
  background-color: #EAF0FF;
  border: 1px dotted blue;
  border-radius: 8px;
  padding: 6px;
  margin: 6px;
  height: 65vh;
  overflow: auto;
  white-space: nowrap;
  /* max-width: 100%; */
}

.typingDraft .DraftEditor-root {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  /* max-width: 100%; */
}

/* Media query for screen widths up to 768px */
@media screen and (max-width: 768px) {
  .typingDraft {
    background-color: #EAF0FF;
    border: 1px dotted blue;
    border-radius: 8px;
    padding: 6px;
    margin: 6px;
    height: 23vh;
    overflow: auto;
    white-space: nowrap;
    max-width: 100%;
  }
  
  .typingDraft .DraftEditor-root {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
  }
  .photoArea {
    /* display: none; */
  }
  .infoArea {
    display: grid;
    grid-template-rows: 0fr 1fr;
  }
  
}


