.mainEditprevCont {
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-gap: 0px;
}

.editor-container {
  width: 100%;
}

.chapterChooser {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 8px;
  width: 75vw;
  margin: 0 auto; /* Center horizontally */
}

@media screen and (max-width: 768px) {
  .mainEditprevCont {
    display: block;
  }

  .chapterChooser {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 8px auto;
  }
}

  